<%- include('../partials/header.ejs')%>
<main>
    <div class="container-content">
        <h1>Welcome to Lisa's Book Club!</h1>
        <br>
        <p>Lisa's Book Club is a place for newcomers and avid book readers alike to discuss weekly book readings.</p>
        <hr>
        <p>Through this website you can sign up for club meetings and also make and host new club meetings.</p>
    </div>
</main>
<%- include('../partials/footer.ejs')%>