<%- include('./partials/header.ejs')%>
<main>
    <div class="container-content">
        <h1>About Lisa's Book Club!</h1>
        <br>
        <p>Lisa's Book Club was founded in 2023 by Lisa Dittrich as a way for avid and beginner readers to converse about novels in a safe space.</p>
        <hr>
        <p>Through this website you can sign up for club meetings and also make and host new club meetings.</p>
    </div>
</main>
<%- include('./partials/footer.ejs')%>