<%- include('./partials/header.ejs')%>
<main>
    <div class="container-content">
        <h1>Contact Lisa's Book Club!</h1>
        <br>
        <p>You can contact us by </p>
        <address class = 'indent-right'>
            Email: <a href="mailto:lisasbookclub@gmail.com">lisasbookclub@gmail.com</a><br>
            Phone: <a href="tel:+17041235689">(704)123-5689</a><br>
        </address>
    </div>
</main>
<%- include('./partials/footer.ejs')%>

